<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false) 
</head>
<body style="margin: 0px; height:100%; min-height:100%">
    @* <header>
    </header> *@
    <div style="height:100%; min-height:100%">
        <main role="main" style="height:100%; min-height:100%">
            @RenderBody()
            <div class="bottom-right">
                <p class="zero-margin text-shadow light-grey">@Html.Raw("© Copyright Matthew Rule 2023" + ( DateTime.Now.Year == 2023 ? "" : "-" + DateTime.Now.Year))</p>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>