<div class="top-left padding-20px semitransparent-bg-only rounded-border-only thick-white-border-only menu-margin-padding-only light-text">
    <div id="project-menu-div" class="hand-cursor unselectable">
        <img class="menu-icon" src="assets/menu-icon.png">
        <span>Projects</span>
    </div>
    <div class="bottom-margin-12px hidden" id="hideable-project-menu-content-container">
        <div class="vertical-spacer"></div>
        <div class="flex-container-only">
            <div class="flex-child-only">
                <div>
                    <a href="cellularautomata" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-ca.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            Cellular Automata
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-child-only">
                <div class="left-margin-12px">
                    <a href="d3forcesimulation" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-d3.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            D3 Force Sim
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-child-only">
                <div class="left-margin-12px">
                    <a href="hotrocks" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-hotrocks.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            2D Platformer
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-child-only">
                <div class="left-margin-12px">
                    <a href="mandelbrotfractal" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-fractal.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            Fractals
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-child-only">
                <div class="left-margin-12px">
                    <a href="treegenotypes" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-tree-geno.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            Tree Genotypes
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-child-only">
                <div class="left-margin-12px">
                    <a href="voxelterrain" class="plain-link">
                        <div class="top-div thick-white-border-only">
                            <img class="project-preview-size" src="assets/preview-voxel-terrain.png">
                        </div>
                        <div class="bottom-div thick-white-border-only text-align-centre">
                            Voxel Terrain
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>