<div class="top-left semitransparent-bg-only rounded-border-only thick-white-border-only menu-margin-padding-only light-text">
    <div id="project-menu-div">
        <img id="project-menu-button" class="menu-icon" src="assets/menu-icon.png">
        <span>Projects</span>
    </div>
    <div class="hidden" id="hideable-project-menu-content-container">
        <div class="vertical-spacer"></div>
        <div class="flex-container">
            <div class="flex-row">
                <a href="cellularautomata">Cellular Automata</a>
            </div>
            <div class="flex-row">
                <a href="mandelbrotfractal">Mandelbrot Fractal</a>
            </div>
            <div class="flex-row">
                <a href="tictactoe">Tic-tac-toe</a>
            </div>
            <div class="flex-row">
                <a href="treegenotypes">Tree Genotypes</a>
            </div>
        </div>
    </div>
</div>