* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', Arial, Ubuntu, Cantarell, 'Fira Sans', sans-serif;
}

input[type="checkbox"] {
  margin: 0;
  width: 24px;
  height: 24px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;   /* Hide scrollbars */
  background-color: #333;
}

body, div, main {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4, p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
}

.toolbar-button {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin: 0px 4px 0px 4px;
  padding: 4px;
  font-size: 21px;
  border: 0px;
  text-align: center;
}

#tooltip {
  background-color: #ddd;
  color: black;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  min-width: 20px;
  min-height: 10px;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text-icon {
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
}

.white-span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ddd;
}

.numeric-edit {
  width: 40px;
}

.rule-edit {
  width: 80px;
}

.rounded-border {
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  min-width: 0px;
  min-height: 0px;
  margin: 15px;
  padding: 6px 15px 6px 15px;
}

/* input[type=checkbox] {
  transform: scale(1.5);
} */

.left-pad {
  padding-left: 12px;
}

.div-container {
  display: grid;
  place-content: center;
  background-color: transparent;
  height: 60px;
  position: absolute;
  width: 100%;
  min-width: 100%;
  min-height: 60px;
}

.has-centred-text {
  text-align: center;
}

.is-centred {
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.padding-0px {
  padding: 0px;
}

.padding-20px {
  padding: 20px;
}

.bottom-left-padding-20px {
  padding: 0px 0px 20px 20px;
}

.rounded-border-only {
  border-radius: 10px;
}

.transparent-bg-only {
  background-color: transparent;
}

.semitransparent-bg-only {
  background-color: rgba(0, 0, 0, 0.75);
}

.semitransparent-bg-warning {
  background-color: rgba(128, 0, 0, 0.75);
}

.thick-white-border-only {
  border: 2px solid white;
}

.menu-margin-padding-only-bottom-left {
  margin: 0px 0px 15px 15px;
  padding: 6px 15px 6px 15px;
}

.menu-margin-padding-only {
  margin: 15px;
  padding: 6px 15px 6px 15px;
}

.menu-padding-only {
  padding: 6px 15px 6px 15px;
}

.light-text {
  color: #ddd;
}

.flex-container-only {
  display: flex;
}

.flex-child-only {
  flex: 1;
}

.inline-block-only {
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.flex-item-left {
  text-align: left;
  margin-right: 20px;
}

.flex-item-right {
  text-align: right;
}

.text-align-centre {
  text-align: center;
}

/*To centre text inside a flex item, this needs to be set on the flex item*/
.flex-text-align-centre {
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  display: block;
  margin: 2px;
}

.hidden {
  display: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin: 4px;
}

.vertical-spacer {
  min-height: 24px;
}

.expand-width {
  width: 100%;
  box-sizing: border-box;
}

.non-resizeable {
  resize: none;
}

.textarea-height {
  height: 80px;
}

.limit-text-container-width {
  max-width: 400px;
}

.text-container-padding {
  padding: 6px 12px;
}

.hand-cursor {
  cursor: pointer;
}

.unselectable {
  user-select: none;
}

.top-div {
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.bottom-div {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  border-top: none;
}

.project-preview-size {
  width: 128px;
  height: 128px;
}

.left-margin-12px {
  margin: 0px 0px 0px 12px;
}

.plain-link {
  text-decoration: none;
  color: black;
}

.bottom-margin-12px {
  margin: 0px 0px 12px 0px;
}

.zero-margin {
  margin: 0px;
}

.text-shadow {
  text-shadow: 1px 1px #333333;
}

.light-grey {
  color: #cccccc;
}