body {
    background-color: #333;
}

.vertical-spacer {
    height: 24px;
}

.page-flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: 1px solid black;
}

.flex-item {
    display: flex;
}

.flex-item-20 {
    flex: 1;
}

.flex-item-80 {
    flex: 3;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container-inner-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-container-inner-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-inner-simple {
    flex: 1;
    box-sizing: border-box;
}

.flex-item-inner-25 {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px
}

.organism-panel {
    background-color: #99ccff;
}

.panel-margin {
    margin: 2%;
}

.canvas-fill-parent {
    width: 100%;
    height: 100%;
}

.flex-basis {
    flex-basis: 20%;
}
